@import "styles/react-toggle.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-layout-column {
  height: 100vh;
  overflow-y: scroll;
  padding: 12px 0;
}

.scrolling-area {
  direction: rtl;
}

.scrolling-element-inside {
  direction: ltr;
}

.input-textarea {
  width: 100%;
  min-height: 20vh;
  resize: none;
  padding: 12px;
}

.output-textarea {
  width: 100%;
  min-height: 20vh;
  padding: 12px;
  word-wrap: break-word;
}
